.head {
    border-right: 1px solid #A5B2C8;
    height: 100vh;
}

.head h2 {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    color: #101828;
    margin-top: 20px;
    margin-left: 20px;
}

.head h3 {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color: #4F607D;
    margin-top: 40px;
    margin-left: 20px;
}

.historyquestion{
    background: gray;
    color: white;
    padding: 5px;
    border-radius: 5px;
    max-width: 200px;
    margin-left: 20px;
}

.chatbox {
    height: 85vh;
    width: 98%;
    background: #F5F5F5;
    border-radius: 10px;
    margin: auto;
   
}
.mainchatbox{
    margin: 20px 30px 20px 20px;
    background: #F5F5F5;
    border-radius: 10px;   
    padding-bottom: 20px;
    
}

.icon {
    max-width: 40px;
    margin-top: 20px;
}

.icontext {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    color: #4F607D;
    text-align: left;
}

.iconpara{
    text-align: left;
}

.question {
    height: 80px;
    border: 1px solid #B1B1B1;
    border-radius: 5px;
    background: linear-gradient(0deg, #F2F4F7, #F2F4F7);
}

.answer {
    height: 130px;
    border: 1px solid #B1B1B1;
    border-radius: 5px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    max-height: 130px;
    overflow: auto;
}

.image,
.refrence {
    height: 300px;
    border: 1px solid #B1B1B1;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
    margin-right: 10px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.image h3,
.refrence h3 {
    color: #4F607D;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.refrence {
    margin-right: 0px;
    overflow: auto;
}

.searchinput {
    padding: 12px;
}

.searchbutton {
    width: 100px;
}
.searchimage{
    width: 200px;
    height: 48px;
}

.generatedimage{
    max-height: 200px;
    max-width:200px ;
}

.modalheader{
    padding: 30px;
    border: none;
}

.modalhead{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.modalbtn{
    position: absolute;
    right: 15px;
}


.upload{
    height: 250px;
    width: 450px;
    border: 2px dashed #7D7D7D;
    background: #F8F9FA;
    border-radius: 10px;
}

  
